#lockerForm {
    display: none;
	}

#lockerForm div, #lockerForm form {
    max-width: 100%;
	margin: auto;
}

#lockerCheckMail {
    display: none;
    padding: 4px 8px;
    /*-moz-box-shadow: inset 0 0 10px #d2d2d2;
    -webkit-box-shadow: inset 0 0 10px #d2d2d2;
    box-shadow: inset 0 0 10px #d2d2d2;*/
}

#lockerBox {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #f4f4f4;
    /*margin: 15px 0px;
    -moz-box-shadow: inset 0 0 10px #d2d2d2;
    -webkit-box-shadow: inset 0 0 10px #d2d2d2;
    box-shadow: inset 0 0 10px #d2d2d2;*/
}

.mw_transparent_header#header {
    position: relative !important;
}

#lockerBoxInner {
    padding: 15px;
}

#lockerBox.border {
    border: 2px dashed #0059c6;
}

#lockerBox input[type=submit], #lockerBox input[type=button] {
/*#lockerBox #lockerBuyButton, #lockerCheckMailButton input[type=submit] {*/
    padding: 4px 25px;
    margin: 4px 4px;
    text-align: center;
    color: #fff;
    background-color: #0059c6;
    border: 0px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: -1px;
}

#lockerBox input[type=submit]:hover, #lockerBox input[type=button]:hover {
    text-decoration: underline;
}

#lockerBox a#fapiLocker {
    position: absolute;
    right: 7px;
    bottom: 7px;
    color: #C0C0C0;
    font-size: 12px;
}

.lockerError {
    background-color: #fde9ea;
    color: #a02f29;
    text-align: center;
    border: 1px solid #dcc6c8;
    width: 100%;
    padding: 10px 0px;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    margin-top: 15px;
}

.lockerError p {
    margin-bottom: 0;
}
